body {
    background:rgb(243, 52, 52);
}

.profile {
    margin:8px;
    width:210px;
    border:2px solid black;
    text-align: center;
}

.blue {
    background:lightskyblue;
}

.profile-list {
    display:flex;

}
